@import url("https://assets.soracom.io/fonts/aeonik/Aeonik.css");
@import url("https://assets.soracom.io/fonts/source-han-sans/SourceHanSansJP-VF.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-feature-settings: "ss02", "ss08";
  font-family: Aeonik, 'Source Han Sans JP', Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.section_container {
  @apply w-full max-w-[1440px] mx-auto;
}

a:hover {
  @apply text-[#abbb31] transition-colors ease-linear cursor-pointer
}

.features-slider__pagination-button {
  @apply h-3 w-12 bg-[#CFCFCF] transition-all block;
}

.features-slider__pagination-button--active {
  @apply w-20 bg-[#DDF247] block;
}